.playerContainer {
  @apply relative overflow-hidden bg-darkSurface md:mt-5   md:h-full;
}

.active {
  @apply absolute left-0 right-0 mt-[20px] md:mt-[10px] rounded-2xl  object-cover;
}

.notActive {
  @apply rounded-lg h-min border-2 mr-[100px] mt-[50px] md:mt-[20px] w-[100px] md:w-[200px];

  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

.icon {
  @apply text-white absolute right-2 bottom-2;
}

.user {
  @apply text-white;
}

.notPlaying {
  @apply flex items-center justify-center;
}
